{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="{{ path('app_logout') }}"> Déconnexion</a></li>
        </ul>
    </header>
    <div>
        {% for boutique in boutiques%}
            <ul>
                <li>{{ boutique.nom }} <a href="{{ path('shop_configuration_interface', {'shop': boutique.nom, 'username':username}) }}" >Configurer</a> </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}