{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<header>
    <ul>
        <li><a href="{{ path('app_logout') }}"> deconnexion  </a></li>

    </ul>

</header>
<div>
    <h1>{{ app.user.userIdentifier }}</h1>
    <p>Bienvenu sur votre page perso, ici vous pouvez :</p>
    <ol>
        <li>Rechercher des Produits ou boutiques<a href="#">ici</a></li>
        <li>Gérer et suivre vos commandes <a href="#">ici</a></li>
        <li> Gérer  et suivre vos boutiques préférés <a href="#boutique_pref">ici</a></li>
        <li> Créer votre propre Boutique <a href="{{ path('new_shop') }}">ici</a></li>
        <li> Administrez vos boutique <a href="{{ path('app_shop_admin', {'username': app.user.userIdentifier}) }}" >ici</a></li>
    </ol>
    <h2 id="boutique_pref">Vous suivez</h2>
</div>
{% endblock %}
